@using userManagement.Emails.ViewModels
@model ConfirmEmailViewModel
@{
    ViewData["Title"] = "Potvrzení adresy";
}
@if (Model.User.Gender == userManagement.Data.Gender.Male)
{
    <p>Milý uživateli,</p>
}
else
{
    <p>Milá uživatelko,</p>
}
<p>zaregistrovali jsme žádost o potvrzení existence a vlastnictví emailové adresy. K potvrzení již stačí jen kliknout na následující odkaz.</p>
<p>Za registraci a potvrzení adresy předem děkujeme.</p>
<div style="text-align:center">
    <a style="display:inline-block; padding: 10px; text-decoration:none; color:white; background-color: green;" href="@Model.ConfirmEmailUrl">Potvrdit email</a>
</div>