@using userManagement.Emails.ViewModels
@model ConfirmEmailViewModel
@{
    ViewData["Title"] = "Resetování hesla";
}
<p>Dobrý den,</p>
<p>obdrželi jsme žádost o resetování hesla pro uživatele z Vaší emailové adresy. K resetování použijte následující odkaz.</p>
<div style="text-align:center">
    <a style="display:inline-block; padding: 10px; text-decoration:none; color:white; background-color: green;" href="@Model.ConfirmEmailUrl">Resetovat heslo</a>
</div>
