@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Smazání osobních dat";
    ViewData["ActivePage"] = ManageNavPages.DeletePersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="alert alert-danger" role="alert">
    <p>
        <strong>Odstranění těchto dat bude zároveň znamenat zrušení tohoto účtu.</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post" class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        }
        <button class="btn btn-danger" type="submit">Smazat účet</button>
    </form>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}