@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Resetování hesla";
}

<h2>@ViewData["Title"]</h2>
<p>
    Heslo bylo resetováno. Přihlásíte se <a asp-page="./Login">zde</a>.
</p>
