@page
@model PasswordModel
@{
    ViewData["Title"] = "Heslo";
}
<partial name="_StatusMessage" for="StatusMessage" />

<h2>Nastavení hesla k lokálnímu účtu</h2>
<partial name="_UserDetailPartial" for="@Model.ApplicationUser" />
<div>
    <form method="post">
        <input type="hidden" asp-for="Input.Id" />
        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <input type="submit" value="Nastavit" class="btn btn-primary" />
        <a asp-page="./Index" class="btn btn-light">Zpět</a>
    </form>
</div>
